.FilterBlock {
  padding: 10px 0 20px;
  position: relative;
}

.HeaderFilterBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}

.FiltersList {
  height: 0;
  display: none;
}

.FiltersContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.activeList {
  display: block;
  height: auto;
  padding-top: 10px;
}

.arrowBlock {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  transition: 0.3s linear;
}

.activeArrow {
  transform: rotate(-90deg);
}

.FiltersActionBlock {
  max-width: 300px;
  margin: 20px 0 0;
}
