.upload-container input[type='file'] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

.upload-container {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  background-color: #f5f5f5;
  margin: 16px 0 8px;
  border-radius: 8px;

  label {
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -50px;
    z-index: 1;

    img {
      transition: ease-in 0.5s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    &.focus {
      outline: 1px solid #0078d7;
      outline: -webkit-focus-ring-color auto 5px;
    }

    .icon-block {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border-radius: 30px;
      background-color: #fff;
      -webkit-box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.75);
      transition: ease-in 0.5s;
      opacity: 0.3;

      img {
        width: 30px;
        height: 30px;
      }
    }

    &:hover .icon-block {
      opacity: 1;
    }
  }

  .image_slider {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .image_block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    transform: translate(0%, 0px);

    picture {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &.prevImage {
      transform: translate(-100%, 0px);
    }

    &.nextImage {
      transform: translate(100%, 0px);
    }

    &.active {
      transform: translate(0%, 0px);
    }
  }

  .navigation {
    & > .nav-action {
      position: absolute;
      top: 50%;
      margin-top: -14px;
      width: 28px;
      height: 28px;
      padding: 8px 5px;
      cursor: pointer;
      background-color: #fff;
      box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.75);
      box-sizing: content-box;
      border-radius: 20px;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .prev-nav {
      left: 10px;
    }

    .next-nav {
      right: 10px;
    }
  }
}
